<footer id="footer">
	<p>© 2025 Ahmed Ihsan — All Rights Reserved</p>
	<div id="footer-links">
		<a href="https://github.com/AhmedIhsan123" target="_blank">GitHub</a>
		<a href="https://www.linkedin.com/in/ahmed-ihsan" target="_blank"
			>LinkedIn</a
		>
		<a href="https://drowz1212.itch.io" target="_blank">itch.io</a>
	</div>
</footer>
