<header id="header-container">
	<nav>
		<ul id="nav-list">
			<li><a href="/">Home</a></li>
			<li><a href="#education-section">Education</a></li>
			<li><a href="#work-section">Work</a></li>
			<li><a href="#projects-section">Projects</a></li>
			<hr />
			<li><a href="/contact">Contact</a></li>
			<li><a href="/Admin">Admin</a></li>
		</ul>
		<div class="hamburger" id="hamburgerBtn">&#9776;</div>
	</nav>
</header>
