<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Submission Recorded!</title>
		<link rel="stylesheet" href="styles/confirmation.css" />
		<link rel="stylesheet" href="/styles/style.css" />
		<script src="scripts/burger.js" defer></script>
	</head>
	<body>
		<%- include('partials/header') %>
		<main>
			<div>
				<h1>Your submission was recorded!</h1>
				<p>Thank you for your time.</p>
			</div>
			<a href="/">Return to home page</a>
		</main>

		<!-- Page footer -->
		<%- include('partials/footer') %>
	</body>
</html>
