<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Ahmed Ihsan - Contact Me</title>

		<link rel="stylesheet" href="/styles/contact.css" />
		<link rel="stylesheet" href="/styles/style.css" />
		<link rel="icon" href="./Images/favicon.png" />
		<script src="scripts/contact.js" defer></script>
		<script src="scripts/burger.js" defer></script>
	</head>
	<body>
		<!-- Include the header partial -->
		<%- include('partials/header') %>

		<!-- Page main content -->
		<main>
			<form id="guest-form" action="submit-form" method="POST">
				<legend>Lets connect...</legend>

				<!-- Basic information fieldset -->
				<fieldset id="basic-info">
					<!-- First name -->
					<div>
						<div class="label-container">
							<label for="fname">First name</label>
							<span class="error" id="err-fname">* Missing First name</span>
						</div>
						<input type="text" id="fname" name="fname" />
					</div>

					<!-- Last name -->
					<div>
						<div class="label-container">
							<label for="lname">Last name</label>
							<span class="error" id="err-lname">* Missing last name</span>
						</div>
						<input type="text" id="lname" name="lname" />
					</div>

					<!-- Job Title -->
					<div>
						<div class="label-container">
							<label for="job_title">Job Title</label>
							<span class="error" id="err-jtitle">* Missing title</span>
						</div>
						<input type="text" id="job-title" name="job_title" />
					</div>

					<!-- Company -->
					<div>
						<div class="label-container">
							<label for="company">Company</label>
							<span class="error" id="err-company">* Missing Company</span>
						</div>
						<input type="text" id="company" name="company" />
					</div>

					<!-- Linkedin URL -->
					<div>
						<div class="label-container">
							<label for="linkedin">LinkedIn URL</label>
							<span class="error" id="err-linkedin"
								>* Must start with "www.linkedin.com/in/"</span
							>
						</div>
						<input type="text" id="linkedin" name="linkedin" />
					</div>

					<!-- Email Address -->
					<div>
						<div class="label-container">
							<label for="email">Email Address</label>
							<span class="error" id="err-email"
								>* Please enter a valid email address</span
							>
						</div>
						<input type="email" id="email" name="email" />
					</div>
				</fieldset>

				<!-- Meeting info -->
				<fieldset id="meeting-info">
					<!-- Meet -->
					<div id="meet-box">
						<div class="label-container">
							<label for="meet">How did we meet?</label>
							<span class="error" id="err-meet">* Select a option</span>
						</div>
						<select name="meet" id="meet">
							<option value="" selected disabled>Please select</option>
							<option value="online">Online</option>
							<option value="in-person">In-Person</option>
							<option value="other">Other</option>
						</select>
					</div>

					<!-- Other -->
					<div id="other-box">
						<div class="label-container">
							<label for="other">Other (please specify)</label>
							<span class="error" id="err-other">* Field cannot be empty</span>
						</div>
						<input type="text" name="other" id="other" />
					</div>
				</fieldset>

				<!-- Message area -->
				<fieldset id="submit-info">
					<!-- Message box -->
					<label for="message">Message</label>
					<textarea
						id="message"
						name="message"
						placeholder="Type your message here..."
					></textarea>

					<!-- Add to mailing -->
					<div>
						<div id="mail-check-container">
							<label for="mail_list">Please add me to your mailing list!</label>
							<input type="checkbox" id="mail-list" name="mail_list" />
						</div>

						<!-- Email format -->
						<div id="email-format-box">
							<span>Choose an email format:</span>
							<div class="label-container">
								<label for="html"
									><input
										type="radio"
										name="mail_format"
										value="html"
										id="html"
										class="radio"
									/><span>HTML</span></label
								>
								<label for="text"
									><input
										type="radio"
										name="mail_format"
										value="text"
										id="text"
										class="radio"
									/><span>Text</span></label
								>
								<span class="error" id="err-format">* Choose a format</span>
							</div>
						</div>
					</div>
				</fieldset>

				<!-- Submit button -->
				<button type="submit" id="submit-btn">Submit</button>
			</form>
		</main>

		<!-- Include the footer partial -->
		<%- include('partials/footer') %>
	</body>
</html>
