<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Ahmed Ihsan - Contact Me</title>

		<link rel="stylesheet" href="/styles/contact.css" />
		<script src="scripts/contact.js" defer></script>
	</head>
	<body>
		<!-- Page header -->
		<header id="header-container">
			<nav>
				<ul id="nav-list">
					<li><a href="/">Home</a></li>
					<li><a href="#education-section">Education</a></li>
					<li><a href="#work-section">Work</a></li>
					<li><a href="#projects-section">Projects</a></li>
					<hr />
					<li><a href="/contact">Contact</a></li>
				</ul>
			</nav>
		</header>

		<!-- Page main content -->
		<main>
			<form id="guest-form" action="confirmation" method="POST">
				<legend>Lets connect...</legend>

				<!-- Basic information fieldset -->
				<fieldset id="basic-info">
					<!-- First name -->
					<div>
						<div class="label-container">
							<label for="fname">First name</label>
							<span class="error" id="err-fname">*</span>
						</div>
						<input type="text" id="fname" name="fname" />
					</div>

					<!-- Last name -->
					<div>
						<div class="label-container">
							<label for="lname">Last name</label>
							<span class="error" id="err-lname">*</span>
						</div>
						<input type="text" id="lname" name="lname" />
					</div>

					<!-- Job Title -->
					<div>
						<div class="label-container">
							<label for="job-title">Job Title</label>
							<span class="error" id="err-jtitle">*</span>
						</div>
						<input type="text" id="job-title" name="job-title" />
					</div>

					<!-- Company -->
					<div>
						<div class="label-container">
							<label for="company">Company</label>
							<span class="error" id="err-company">*</span>
						</div>
						<input type="text" id="company" name="company" />
					</div>

					<!-- Linkedin URL -->
					<div>
						<div class="label-container">
							<label for="linkedin">LinkedIn URL</label>
							<span class="error" id="err-linkedin">*</span>
						</div>
						<input type="text" id="linkedin" name="linkedin" />
					</div>

					<!-- Email Address -->
					<div>
						<div class="label-container">
							<label for="email">Email Address</label>
							<span class="error" id="err-email">*</span>
						</div>
						<input type="email" id="email" name="email" />
					</div>
				</fieldset>

				<!-- Meeting info -->
				<fieldset id="meeting-info">
					<!-- Meet -->
					<div id="meet-box">
						<div class="label-container">
							<label for="meet">How did we meet?</label>
							<span class="error" id="err-meet">*</span>
						</div>
						<select name="meet" id="meet">
							<option value="" selected disabled>Please select</option>
							<option value="online">Online</option>
							<option value="in-person">In-Person</option>
							<option value="other">Other</option>
						</select>
					</div>

					<!-- Other -->
					<div id="other-box">
						<div class="label-container">
							<label for="other">Other (please specify)</label>
						</div>
						<input type="text" name="other" id="other" />
					</div>
				</fieldset>

				<!-- Message area -->
				<fieldset id="submit-info">
					<!-- Message box -->
					<label for="message">Message</label>
					<textarea
						id="message"
						name="message"
						placeholder="Type your message here..."
					></textarea>

					<!-- Add to mailing -->
					<div>
						<div id="mail-check-container">
							<label for="mail-list">Please add me to your mailing list!</label>
							<input type="checkbox" id="mail-list" name="mail-list" />
						</div>

						<!-- Email format -->
						<div id="email-format-box">
							<span>Choose an email format:</span>
							<div class="label-container">
								<label for="html"
									><input
										type="radio"
										name="mail-format"
										value="html"
										id="html"
										class="radio"
									/><span>HTML</span></label
								>
								<label for="text"
									><input
										type="radio"
										name="mail-format"
										value="text"
										id="text"
										class="radio"
									/><span>Text</span></label
								>
								<span class="error" id="err-format">*</span>
							</div>
						</div>
					</div>
				</fieldset>

				<!-- Submit button -->
				<button type="submit" id="submit-btn">Submit</button>
			</form>
		</main>

		<!-- Page footer -->
		<footer id="footer">
			<p>© 2025 Ahmed Ihsan — All Rights Reserved</p>
			<div id="footer-links">
				<a href="https://github.com/AhmedIhsan123" target="_blank">GitHub</a>
				<a href="www.linkedin.com/in/ahmed-ihsan" target="_blank">LinkedIn</a>
				<a href="https://drowz1212.itch.io" target="_blank">itch.io</a>
			</div>
		</footer>
	</body>
</html>
