<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Ahmed Ihsan - Portfolio</title>
		<link rel="stylesheet" href="/styles/home.css" />
		<link rel="stylesheet" href="/styles/style.css" />
		<script src="scripts/burger.js" defer></script>
		<script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
		<script src="/scripts/home.js" defer></script>
	</head>
	<body>
		<!-- Include the header partial -->
		<%- include('partials/header') %>

		<main>
			<section>
				<h1>Hello, I'm <span id="typed"></span></h1>
				<p id="welcome-message">
					I am an aspiring software developer at Green River College with a
					strong interest in engineering, software development, and leadership.
					Experienced in team-based projects, video game development, graphic
					design, and project coordination.
				</p>
			</section>

			<section id="education-section">
				<h1>Education</h1>

				<div class="education-container hover-glow">
					<div>
						<h2>BAS IT Software Development</h2>
						<h5 class="dates">
							Green River College, Grade - 3.858
							<span
								><a
									href="https://catalog.greenriver.edu/preview_program.php?catoid=10&poid=4090&returnto=623"
									target="_blank"
									>View Degree</a
								></span
							>
						</h5>
					</div>
					<div class="education-content-container">
						<div class="courses-container">
							<div>
								<p>Systems Programming</p>
								<p>Web Development Fundamentals</p>
								<p>Server-Side Web Development</p>
								<p>Advanced Data Structures</p>
								<p>Algorithms</p>
								<p>Full-Stack Web Development</p>
								<p>Cloud Application Deployment</p>
								<p>Special Topics in Software</p>
							</div>
						</div>
						<div class="date-container">
							<p class="dates">2025-2027</p>
							<p class="in-progress status">In-Progress</p>
						</div>
					</div>
				</div>

				<div class="education-container hover-glow">
					<div>
						<h2>Associates of Applied Science</h2>
						<h5 class="dates">
							Green River College, Grade - 3.865
							<span
								><a
									href="https://catalog.greenriver.edu/preview_program.php?catoid=10&poid=4150&returnto=623"
									target="_blank"
									>View Degree</a
								></span
							>
						</h5>
					</div>
					<div class="education-content-container">
						<div class="courses-container">
							<div>
								<p>Java Foundations</p>
								<p>Object-Oriented Programming in Java</p>
								<p>Elementary Data Structures in Java</p>
								<p>Web Programming with JavaScript</p>
								<p>Front-End Web Development</p>
								<p>Python for Data Analytics</p>
								<p>SQL For Data Analytics</p>
								<p>Data Analytics Technologies</p>
								<p>Data Science for Social Good</p>
								<p>Computer Programming in Java</p>
							</div>
						</div>
						<div class="date-container">
							<p class="dates">2023-2025</p>
							<p class="completed status">Completed</p>
						</div>
					</div>
				</div>
			</section>

			<section id="work-section">
				<h1>Work Experience</h1>

				<div class="work-container">
					<!-- Job experience 1 -->
					<div class="work-content-container hover-glow">
						<img
							class="work-experience-logo"
							src="https://www.greenriver.edu/students/media/images/support-and-resources/Green-River-College.png"
							alt="Green River College Logo"
						/>
						<div class="work-experience-details">
							<h2>IT Student Helpdesk</h2>
							<div class="work-details-container">
								<p>Green River College · Part-time</p>
								<p>May 2025 - Present · 7 mos</p>
								<p>Auburn, Washington, United States · Hybrid</p>
							</div>
							<br />
							<ul class="work-experience-list">
								<li>
									Practiced fundamental problem-solving skills in terms of tech
									support while maintaining a professional manner.
								</li>
								<li>
									Worked in a team of 18 other IT Student Tech Support members,
									coordinating and communicating efficiently.
								</li>
								<li>
									Contributed to international student events, supporting
									students with different backgrounds and ethnicities.
								</li>
							</ul>
						</div>
					</div>

					<!-- Job experience 2 -->
					<div class="work-content-container hover-glow">
						<img
							class="work-experience-logo"
							src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTROijBr7j_vQvTueAZUlBhliic5pdbiO9m2g&s"
							alt="Green River College Logo"
						/>
						<div class="work-experience-details">
							<h2>Software Developer</h2>
							<div class="work-details-container">
								<p>StatMando · Contract</p>
								<p>Apr 2025 - Jun 2025 · 3 mos</p>
								<p>Auburn, Washington, United States · Remote</p>
							</div>
							<br />
							<ul class="work-experience-list">
								<li>
									Lead a team of 3 other Software Developers towards delivering
									a minimal viable product for StatMando directors.
								</li>
								<li>
									Planned, designed, and developed a prototype for StatMando
									tournament directors to view player travel statistics.
								</li>
								<li>
									Web stack consisted of JavaScript, CSS, HTML, PHP for
									server-side programming, and GitHub for version control. For
									this prototype, we also utilized tools like Trello and
									Basecamp for documenting consistent progress.
								</li>
								<li>
									At the end of my development term, my team and I delivered the
									minimal viable product to the client on schedule. The client
									highly appreciated our hard work and effort towards the
									prototype, and they would use it as a solid starting
									ground/reference for future development teams working to bring
									our prototype to their pipeline.
								</li>
							</ul>
						</div>
					</div>
				</div>
			</section>

			<section id="projects-section">
				<h1>Projects</h1>

				<div class="projects-container">
					<div
						id="video-game-project-container-1"
						class="project-card hover-glow"
					>
						<div>
							<h2>Oxygen Rush</h2>
							<p class="dates">May 2024</p>
						</div>

						<div class="slideshow-container">
							<div class="OR-slide fade">
								<img src="/Images/OR_Img_1.png" alt="" />
							</div>
							<div class="OR-slide fade">
								<img src="/Images/OR_Img_2.png" alt="" />
							</div>
							<div class="OR-slide fade">
								<img src="/Images/OR_Img_3.png" alt="" />
							</div>
							<div class="OR-slide fade">
								<img src="/Images/OR_Img_4.png" alt="" />
							</div>
							<a class="prev" onclick="changeSlide('oxygenRushSlideshow', -1)"
								>&#10094;</a
							>
							<a class="next" onclick="changeSlide('oxygenRushSlideshow', 1)"
								>&#10095;</a
							>
						</div>
					</div>

					<div
						id="video-game-project-container-2"
						class="project-card hover-glow"
					>
						<div>
							<h2>Escape Room</h2>
							<p class="dates">Apr 2025 - May 2025</p>
						</div>

						<div class="slideshow-container">
							<div class="ER-slide fade">
								<img src="/Images/ER_Img_1.png" alt="" />
							</div>
							<div class="ER-slide fade">
								<img src="/Images/ER_Img_2.png" alt="" />
							</div>
							<div class="ER-slide fade">
								<img src="/Images/ER_Img_3.png" alt="" />
							</div>
							<a class="prev" onclick="changeSlide('escapeRoomSlideshow', -1)"
								>&#10094;</a
							>
							<a class="next" onclick="changeSlide('escapeRoomSlideshow', 1)"
								>&#10095;</a
							>
						</div>
					</div>
				</div>
			</section>
		</main>
		<!-- Include the footer partial -->
		<%- include('partials/footer') %>
	</body>
</html>
