/* =======================================
   GLOBAL BASE STYLES
======================================= */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	font-weight: 400;
	color: var(--text-color);
}

html {
	scroll-behavior: smooth;
}

body {
	display: flex;
	flex-direction: column;
	gap: 4rem;
	height: 100vh;
	max-height: 100%;
	background: var(--bg-color);
	transition: background 0.3s ease, color 0.3s ease;
	animation: fadeUp 0.25s ease-out forwards;
}

hr {
	color: var(--text-color);
}

/* Layout */
main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-self: center;
	padding-bottom: 1rem;
	text-align: center;
	height: 100%;
	gap: 2rem;
}

a {
	color: var(--text-color);
}

/* =======================================
   FOOTER
======================================= */
#footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 0.5rem;
	padding: 1.25rem 1rem;
	background: var(--card-bg-color);
	border-top: 1px solid var(--text-color);
	box-shadow: 5px 5px 5px var(--subtle-shadow);
	transition: 0.15s ease;
}

#footer p {
	font-size: 0.9rem;
	color: var(--date-color);
}

#footer-links {
	display: flex;
	gap: 1.5rem;
}

#footer-links a {
	font-weight: 300;
}
